version: "3.9"

services:
  postgres:
    image: postgres:16-alpine
    container_name: classroom_postgres
    restart: always
    environment:
      POSTGRES_DB: classroom_db
      POSTGRES_USER: classroom_user
      POSTGRES_PASSWORD: strong_password_here
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  backend:
    build: .
    container_name: classroom_backend
    restart: always
    ports:
      - "8080:8080"
    environment:
      SPRING_PROFILES_ACTIVE: prod
      DB_HOST: postgres
      DB_PORT: 5432
      DB_NAME: classroom_db
      DB_USERNAME: classroom_user
      DB_PASSWORD: strong_password_here
    depends_on:
      - postgres
    env_file:
      - .env


  frontend:
    build: ./frontend
    container_name: classroom_frontend
    restart: always
    ports:
      - "3000:3000"
    depends_on:
      - backend

volumes:
  postgres_data:



